
# Define the default gitignore for a Django project
*.pyc
*.DS_Store
*.sqlite3
*.log
*.env
*.pot
*.po
*.mo
__pycache__/
*.sqlite3
media/
static/
*.log
*.pot
*.po
*.mo
*.pyo
*.orig
*.rej
*.swo
*.pyc
local_settings.py
*.sublime-project
*.sublime-workspace
*.pytest_cache
.tox/
.games/
/games/
.coverage
.cache
.pytest_cache
htmlcov/
.git/
.hypothesis
.pylint.d
*.egg-info/
.eggs/
*.egg
.ropeproject/
.mypy_cache/
.pytest_cache
.coverage
.cache
__pycache__/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata
*.egg
.tox/
.cache
.eggs/
.hypothesis
.pylint.d
*.sublime-project
*.sublime-workspace
local_settings.py
