<!-- templates/core/index.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the...</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        
    </style>
</head>
<body>
    <main>

    
    <div class="container"> 
        <h1>Take a Guess</h1>
            
    {% if message %}
        <div class="message">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    {% if not message %}
        <form action="{% url 'core:check_guess' %}" method="post" class="input-form">
            {% csrf_token %}
            <!-- <label for="id_select_field">Select an Option</label> -->
            {{ form.select_field }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
        
    </div>
    <div class="attempts-count">Attempts: {{ attempts }}/5</div>
    <div class="hints {% if show_hints %}visible{% endif %}">
        {% for hint in show_hints %}
            <p>``{{ hint }}``</p>
        {% endfor %}
    </div>
</main>
</body>
</html>
